{% extends "layout.html" %}


{% block body %}
          <section class="inner_top_banner">
              <div class="container">
                  <div class="row">
                      <div class="col-md-12">

                          <div class="inner_page_title">
                              <h2>About <span>us</span></h2>
                              <ul class="breadcrumb">
                                  <li><a href="{{ url_for('index') }}">Home</a></li>
                                  <li>About Us</li>
                              </ul>
                          </div>

                      </div>
                  </div>
              </div>
          </section>

          <section class="middle_body">
              <div class="container">
                  <div class="about_top_section">
                      <div class="row">
                          <div class="col-md-12">
                              <div class="main_title text-center">
                                  <h2 class="crimson_text">About {{site_detail.site}} LTD</h2>

                              </div>
                          </div>
                      </div>

                      <div class="row">
                          <!-----
            	<div class="col-md-6">
                	<div class="about_video">
                        <a href="#"><img src="images/about_video_img.png" alt="about_video" class="img-responsive" />
                        <div class="overlay"></div>
                        <span><i class="fa fa-play"></i></span></a>
                    </div> 
                </div>
                ------>
                          <div class="col-md-12">
                              <div class="about_top_content">
                                  <h4>{{site_detail.site}} LTD</h4>
                                  <p>{{site_detail.site}} LTD is a professional investment corporation engaged in stock market,
                                      foreign exchange market, Forex Trade and gold trading UK Registration 11334188 &
                                      Head Office located at 85-86 Great Portland Street, London, England, W1W 7LT,
                                      United Kingdom. Our goal at Bittrade.com LTD is to provide our clients with a
                                      comprehensive market with new resources, whether you have limited experience in
                                      foreign exchange trade or gold trade or that you are interested in the stock
                                      market. So we open a professional market which is attracting investors from all
                                      over the world, who have online trading and investment experience.</p>
                                  <p>Our unique Stock, foreign exchange market, Forex investment solution provides our
                                      clients with an opportunity to grow their investment in the secured safe
                                      environment. There's no complex Forex trading systems to learn. There are no super
                                      risky investments that could leave you counting your losses, we take great pride
                                      in maintaining a secure, profitable environment where our clients can growth their
                                      investment with minimal fuss, low risk and optimal convenience.

                                      We employ a team of cryptocurrent and forign trade market experienced, proven
                                      investment professionals, who collectively, have decades of experience and have
                                      earned millions of dollars in the Forex industry. Our team is committed to
                                      delivering a simple, easy-to-use system for investing in the thriving Stock,
                                      foreign exchange market, Forex marketplace. It can take years to develop and
                                      master a winning strategy that works.

                                      <p><b>LARGE PROFITS:</b></br>
                                          Your daily earnings depend solely on the size of your deposits, the number of
                                          which is unlimited. Each of your deposits has its own conditions for
                                          calculating profits and does not sum up with the rest.

                                          <p><b>INSTANT PAYMENTS:</b></br>
                                              When your balance reaches the amount of 1 USD, you can use the function to
                                              make a withdrawal request. All requests are processed automatically, and
                                              money is instantly sent to the details you specify.

                                              <p><b>FAST SUPPORT:</b></br>
                                                  You can get a full-fledged consultation and the necessary information
                                                  by contacting any regional representative or customer support on the
                                                  website through a feedback form in your account, email or online chat.

                                                  <p><b>PARTNERSHIP PROGRAM:</b></br>
                                                      Our one-level partnership program is an excellent instrument for
                                                      generating passive income without even your own investment, and
                                                      also offers the status of a regional representative for
                                                      profitability growth.

                                                      <p><b>LIVE DASHBOARD:</b></br>
                                                          Our live dashboard allow you to manage your account easily.
                                                          All the accounts function you will get in one place which can
                                                          make your deposit and withdraw system smooth and faster.

                                                          <p><b>DDOS PROTECTION:</b></br>
                                                              Our clients data, as well as transaction history, is kept
                                                              strictly confidential. Our multi-level DDOS protection
                                                              system ensures absolute security.

                                                              Our investment experts are eager to grow your wealth in
                                                              the global marketplace! Discover the difference for
                                                              yourself today by investing with Bittrade.com LTD.</p>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="about_section">
                      <div class="row">
                          <div class="col-md-12">
                              <div class="main_title text-center">


          </section>

          {% endblock %}
