{% extends "layout2.html" %}

{% block body %}



                        <div class="admin_body_top">





                            <script language="javascript">
                                function IsNumeric(sText) {
                                    var ValidChars = "0123456789.";
                                    var IsNumber = true;
                                    var Char;
                                    if (sText == '') return false;
                                    for (i = 0; i < sText.length && IsNumber == true; i++) {
                                        Char = sText.charAt(i);
                                        if (ValidChars.indexOf(Char) == -1) {
                                            IsNumber = false;
                                        }
                                    }
                                    return IsNumber;
                                }

                                function checkform() {
                                    if (document.editform.fullname.value == '') {
                                        alert("Please type your full name!");
                                        document.editform.fullname.focus();
                                        return false;
                                    }


                                    if (document.editform.password.value != document.editform.password2.value) {
                                        alert("Please check your password!");
                                        document.editform.fullname.focus();
                                        return false;
                                    }




                                    if (document.editform.email.value == '') {
                                        alert("Please enter your e-mail address!");
                                        document.editform.email.focus();
                                        return false;
                                    }


                                    return true;
                                }
                            </script>



                            <div class="deposit_box edi-box">
                                <div class="form_block_inner">

                                    <form action="" method="post"
                                        onsubmit="return checkform()" name="editform"><input type="hidden"
                                            name="form_id" value="15918186082635">
                                            {{ form.hidden_tag() }}
                                        <div class="row justify-content-center">
                                            <input type="hidden" name="a" value="edit_account">
                                            <input type="hidden" name="action" value="edit_account">



                                            <div class="col-12 col-lg-6">
                                                <div class="form_box">



                                                    {{form.username.label}}
                                                    
                                                    {% if form.username.errors %}
						    {{form.username(disabled="disabled", value=current_user.username, class="form-control is-invalid")}}  
                                                        <div class="invalid-feedback">
                                                            {% for error in form.username.errors %}
                                                                <span>{{error}}</span>
                                                            {% endfor %}
                                                        </div>
                                                    {% else %}
                                                    {{form.username(disabled="disabled", value=current_user.username,class="form-control")}}   
                                                    {% endif %}
                                                  

                                                </div>
                                            </div>

                                            <div class="col-12 col-lg-6">
                                                <div class="form_box">

                                                    {{form.firstname.label}}
                                                    
                                                    {% if form.firstname.errors %}
                                                        {{form.firstname(class="form-control is-invalid")}}  
                                                        <div class="invalid-feedback">
                                                            {% for error in form.firstname.errors %}
                                                                <span>{{error}}</span>
                                                            {% endfor %}
                                                        </div>
                                                    {% else %}
                                                    {{form.firstname( class="form-control")}}  
                                                    {% endif %}

                                                   


                                                </div>
                                            </div>

                                            <div class="col-12 col-lg-6">
                                                <div class="form_box">

                                                    {{form.lastname.label}}
                                                    
                                                    {% if form.lastname.errors %}
                                                        {{form.lastname(class="form-control is-invalid")}}  
                                                        <div class="invalid-feedback">
                                                            {% for error in form.lastname.errors %}
                                                                <span>{{error}}</span>
                                                            {% endfor %}
                                                        </div>
                                                    {% else %}
                                                    {{form.lastname( class="form-control")}} 
                                                    {% endif %}

                                            </div>
                                        </div>

                                            <div class="col-12 col-lg-6">
                                                <div class="form_box">
                                                    {{form.email.label}}
                                                   
                                                    {% if form.email.errors %}
						    {{form.email(disabled="disabled", value=current_user.email, class="form-control is-invalid")}}  
                                                        <div class="invalid-feedback">
                                                            {% for error in form.email.errors %}
                                                                <span>{{error}}</span>
                                                            {% endfor %}
                                                        </div>
                                                    {% else %}
                                                    {{form.email(disabled="disabled", value=current_user.email, class="form-control")}}
                                                    {% endif %}
                                                </div>
                                            </div>

                                            

                                            {% if current_user.wallet.cryptocurrency and current_user.wallet.cryptocurrency.code == "BTC" %}

                                            <div class="col-12 col-lg-6">
                                                    <div class="form_box">
    
                                                        {{form.btc_address.label}}
                                                       
                                                        {% if form.btc_address.errors %}
                                                        {{form.btc_address(class="form-control is-invalid")}}  
                                                        <div class="invalid-feedback">
                                                            {% for error in form.btc_address.errors %}
                                                                <span>{{error}}</span>
                                                            {% endfor %}
                                                        </div>
                                                    {% else %}
                                                    {{form.btc_address(class="form-control")}}
                                                    {% endif %}
                                                        
                                                       
                                                    </div>
                                                </div>
                                                {% elif current_user.wallet.cryptocurrency and current_user.wallet.cryptocurrency.code == "ETH" %}

    
                                                <div class="col-12 col-lg-6">
                                                    <div class="form_box">
    
    
                                                        {{form.eth_address.label}}
                                                      
                                                        {% if form.eth_address.errors %}
                                                        {{form.eth_address(class="form-control is-invalid")}}  
                                                        <div class="invalid-feedback">
                                                            {% for error in form.eth_address.errors %}
                                                                <span>{{error}}</span>
                                                            {% endfor %}
                                                        </div>
                                                    {% else %}
                                                    {{form.eth_address(class="form-control")}}
                                                    {% endif %}
    
                                                    </div>
                                                </div>

                                                {% elif current_user.wallet.cryptocurrency and current_user.wallet.cryptocurrency.code == "LTC" %}

                                            <div class="col-12 col-lg-6">
                                                <div class="form_box">

                                                        {{form.litecoin_address.label}}
                                                  
                                                        {% if form.litecoin_address.errors %}
                                                        {{form.litecoin_address(class="form-control is-invalid")}}  
                                                        <div class="invalid-feedback">
                                                            {% for error in form.litecoin_address.errors %}
                                                                <span>{{error}}</span>
                                                            {% endfor %}
                                                        </div>
                                                    {% else %}
                                                    {{form.litecoin_address(class="form-control")}}
                                                    {% endif %}
                                                </div>
                                            </div> 

                                            {% elif current_user.wallet.cryptocurrency and current_user.wallet.cryptocurrency.code == "BCH" %}

                                            <div class="col-12 col-lg-6">
                                                <div class="form_box">

                                                        {{form.bch_address.label}}
                                          
                                                        {% if form.bch_address.errors %}
                                                        {{form.litecoin_address(class="form-control is-invalid")}}  
                                                        <div class="invalid-feedback">
                                                            {% for error in form.bch_address.errors %}
                                                                <span>{{error}}</span>
                                                            {% endfor %}
                                                        </div>
                                                    {% else %}
                                                    {{form.bch_address(class="form-control")}}
                                                    {% endif %}
                                                </div>
                                            </div> 
                                            {% endif %}

                                         
                                         
                                            <div class="col-lg-12 justify-content-center pl-0 pr-0">  
                                            <p style="margin: 10px 0 10px;justify-content: center;display: flex;">
                                                           
                                                <button style="" class= "collapser btn btn-danger" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                                        <!-- <input type="radio" name="type" value="{{current_user.wallet.cryptocurrency.id}}" checked=""> -->
                                                        Change password
                                                        <!-- <input type="hidden" name="address" value="{{current_user.wallet.cryptocurrency.address}}"> -->
                                                </button>
                                              </p>
					{% if form.current_password.errors or form.new_password.errors or form.confirm_password.errors %}
				
                                              <div style="margin: 10px 0 10px;" class="collapse show" id="collapseExample">
				{% else %}
				 <div style="margin: 10px 0 10px;" class="collapse" id="collapseExample">
					 {% endif %}
                                                <div style="text-align: center;flex-wrap: wrap;flex-direction: column;justify-content: center;align-items: center;" class="card card-body">
							

							<div class="col-12 col-lg-6 pl-0 pr-0">
                                                        <div class="form_box">
                                                            {{form.current_password.label}}
                                                           
                                                            {% if form.current_password.errors %}
                                                                {{form.current_password(class="form-control is-invalid")}}  
                                                                <div class="invalid-feedback">
                                                                    {% for error in form.current_password.errors %}
                                                                        <span>{{error}}</span>
                                                                    {% endfor %}
                                                                </div>
                                                            {% else %}
                                                            {{form.current_password(class="form-control")}}
                                                            {% endif %}
                                                        </div>
                                                    </div>
        
                                                    <div class="col-12 col-lg-6 pl-0 pr-0">
                                                        <div class="form_box">
                                                            {{form.new_password.label}}
                                                           
                                                            {% if form.new_password.errors %}
                                                                {{form.new_password(class="form-control is-invalid")}}  
                                                                <div class="invalid-feedback">
                                                                    {% for error in form.new_password.errors %}
                                                                        <span>{{error}}</span>
                                                                    {% endfor %}
                                                                </div>
                                                            {% else %}
                                                            {{form.new_password(class="form-control")}}
                                                            {% endif %}
                                                        </div>
                                                    </div>
        
                                                    <div class="col-12 col-lg-6 pl-0 pr-0">
                                                        <div class="form_box">
                                                            {{form.confirm_password.label}}
                                                           
                                                            {% if form.confirm_password.errors %}
                                                                {{form.confirm_password(class="form-control is-invalid")}}  
                                                                <div class="invalid-feedback">
                                                                    {% for error in form.confirm_password.errors %}
                                                                        <span>{{error}}</span>
                                                                    {% endfor %}
                                                                </div>
                                                            {% else %}
                                                            {{form.confirm_password(class="form-control")}}
                                                            {% endif %}
                                                        </div>
                                                    </div>
        
                                                </div>
                                              </div>
                                            </div>



                                            <div class="col-sm-12 text-center">
                                                <div class="form_box">

                                                    <input class="btn btn-primary" type="submit"
                                                        value="Update">

                                                </div>
                                            </div>

                                        </div>
                                    </form>


                                </div>

                            </div>

                        </div>



                    </div>
                </div>







            </div>
        </div>
    </div>



    {% endblock %}
