{% extends "layout1.html" %}

{% block body %}

                        <div class="admin_body_bottom">


                            <div class="row">
                                <div class="col-md-12">
                                    <h5 class="admin_title white_text text-left">Select Transaction :</h5>
                                </div>
                            </div>






                            <script language="javascript">
                                function go(p) {
                                    document.opts.page.value = p;
                                    document.opts.submit();
                                }
                            </script>

                            <style>
                            
                                .item.status{
                                    text-align: right;
                                }

                            </style>


                            <form method="post" name="opts"><input type="hidden" name="form_id"
                                    value="15918184186491">
                                        {{ form.hidden_tag()}}
                                <input type="hidden" name="a" value="earnings">
                                <input type="hidden" name="page" value="1">



                                <div class="select_transaction_box">


                                    <div class="row">



                                        <div class="col-md-4">
                                            <div class="select_box">

                                                <select name="type" class="inpts" onchange="document.opts.submit();">
                                                    <option value="" >All transactions</option>
                                                    {% if deposits %}
                                                    <option value="deposit" selected>Deposit</option>
                                                    {% else %}
                                                    <option value="deposit">Deposit</option>
                                                    {% endif %}
                                                    {% if withdrawals %}
                                                    <option value="withdrawal" selected>Withdrawal</option>
                                                    {% else %}
                                                    <option value="withdrawal">Withdrawal</option>
                                                    {% endif %}
                                                  
                                                  
                                                </select>
                                            </div>
                                        </div>


                                        {% if transac %}
                                        {% for t in transac|reverse %}
                                        
                                        <div class="table-responsive">
                                                            <div class="deptab">
                                                                <table cellspacing="1" cellpadding="2" border="0"
                                                                    width="100%">
                                                                    <tbody>
                                                                        <tr>
                                                                           

                                                                            
                                                                            {% if t.deposit %}
                                                                            <td colspan="8"><b>DEPOSIT</b>
                                                                            </td>
                                                                            <td width="100" class="item" align="right">${{t.deposit.amount}}</td>
                                                                                    {% elif t.withdrawal %}
                                                                                    <td colspan="8"><b>WITHDRAWAL</b>
                                                                                    </td>
                                                                                    <td width="100" class="item" align="right">${{t.withdrawal.amount}}</td>
                                                                                    {% endif %}
                                                                                
                                                                                {% if t.is_successful %}
                                                                                <td width="200" class="item status" align="right">SUCCESFUL</td>
                                                                                {% elif not t.is_successful %}
                                                                                <td width="200" class="item status" align="right">PENDING</td>
                                                                                {% endif %}
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
    
                                                            </div>
                                                        </div>
                                                        {% endfor %}
                                                        {% endif %}

                                                        {% if deposits %}
                                        {% for d in deposits|reverse %}
                                        
                                        <div class="table-responsive">
                                                            <div class="deptab">
                                                                <table cellspacing="1" cellpadding="2" border="0"
                                                                    width="100%">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td colspan="8"><b>DEPOSIT</b>
                                                                            </td>

                                                                            
                                                                            
                                                                            <td width="100" class="item" align="right">${{d.amount}}</td>
                                                                                  
                                                                            {% if d.is_successful %}
                                                                                <td width="200" class="item status" align="right">SUCCESFUL</td>
                                                                                {% elif not d.is_successful %}
                                                                                <td width="200" class="item status" align="right">PENDING</td>
                                                                                {% endif %}
                                                                                
                                                                               
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
    
                                                            </div>
                                                        </div>
                                                        {% endfor %}
                                                        {% endif %}


                                                        {% if withdrawals %}
                                                        {% for w in withdrawals|reverse %}
                                                        
                                                        <div class="table-responsive">
                                                                            <div class="deptab">
                                                                                <table cellspacing="1" cellpadding="2" border="0"
                                                                                    width="100%">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            
                                                                                            <td colspan="8"><b>WITHDRAWAL</b>
                                                                                            </td>
                
                                                                                            <td width="100" class="item" align="right">${{w.amount}}</td>

                                                                                            
                                                                                                  
                                                                                            {% if w.is_successful %}
                                                                                                <td width="200" class="item status" align="right">SUCCESFUL</td>
                                                                                                {% elif not w.is_successful %}
                                                                                                <td width="200" class="item status" align="right">PENDING</td>
                                                                                                {% endif %}
                                                                                            
                                                                                            
                                                                                            
                                                                                                  
                                                                                                
                                                                                                
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                    
                                                                            </div>
                                                                        </div>
                                                                        {% endfor %}
                                                                        {% endif %}
                




                                </div>



                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="text-center bottom_margin">
                                            <input class="btn btn-default" type="submit" value="Submit">

                                        </div>
                                    </div>
                                </div>





                            </form>



                            


                         




                            <div class="row">

                                <div class="col-xs-12">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination center_pagination">





                                        </ul>



                                    </nav>
                                </div>

                            </div>




                        </div>
                    </div>
                </div>







            </div>
        </div>
    </div>



    {% endblock %}