{% extends "layout.html" %}


{% block body %}

          <section class="inner_top_banner">
              <div class="container">
                  <div class="row">
                      <div class="col-md-12">

                          <div class="inner_page_title">
                              <h2>forgot password</h2>
                              <ul class="breadcrumb">
                                  <li><a href="{{ url_for('index') }}">Home</a></li>
                                  <li>forgot password</li>
                              </ul>
                          </div>

                      </div>
                  </div>
              </div>
          </section>



          <section class="middle_body common">
              <div class="container">







                  <script language=javascript>
                      function checkform() {
                          if (document.forgotform.email.value == '') {
                              alert("Please type your username or email!");
                              document.forgotform.email.focus();
                              return false;
                          }
                          return true;
                      }
                  </script>

                  <h3>Forgot your password:</h3><br>




                  <div class="row">
                      <form method=post name=forgotform onsubmit="return checkform();"><input type="hidden"
                              name="form_id" value="15910551107693"><input type="hidden" name="form_token"
                              value="cd78b5889b9581c2400127989867cbb1">
                          <input type=hidden name=a value="forgot_password">
                          <input type=hidden name=action value="forgot_password">



                          <div class="col-md-9">

                              <div class="form_box">


                                  <label>Type your username or e-mail</label>
                                  <input type=text name='email' value="" class=inpts size=30>



                              </div>

                          </div>




                          <div class="col-md-3">

                              <div class="form_box mar">


                                  <input class="btn btn-primary" type=submit value="Forgot" class=sbmt>


                              </div>

                          </div>


                      </form>


                  </div>








              </div>
          </section>

          {% endblock %}