{% extends "layout.html" %}


{% block body %}

        

          <section class="inner_top_banner">
              <div class="container">
                  <div class="row">
                      <div class="col-md-12">
                        {% include "includes/_message.html"%}
                          <div class="inner_page_title">
                              <h2>Register</h2>
                              <ul class="breadcrumb">
                                  <li><a href="{{ url_for('index') }}">Home</a></li>
                                  <li>Register</li>
                              </ul>
                          </div>

                      </div>
                  </div>
              </div>
          </section>



          <section class="middle_body common">
              <div class="container">







                  <script language=javascript>
                      function checkform() {
                          if (document.forgotform.email.value == '') {
                              alert("Please type your email!");
                              document.forgotform.email.focus();
                              return false;
                          }
                          return true;
                      }
                  </script>

                  <h3>Sign Up:</h3><br>




                  <div class="row">
                      <form method=post class="col-12 m-auto" name=forgotform onsubmit="return checkform();"><input type="hidden"
                              name="form_id" value="15910551107693"><input type="hidden" name="form_token"
                              value="cd78b5889b9581c2400127989867cbb1">
                              {{form.hidden_tag()}}
                          <input type=hidden name=a value="forgot_password">
                          <input type=hidden name=action value="forgot_password">



                          <div class="col-md-6">

                              <div class="form_box">


                                    {{form.email.label(class="form-control-label")}}
                                                  
                                    {% if form.email.errors %}
                                    {{form.email(class="form-control is-invalid")}}  
                                    <div class="invalid-feedback">
                                        {% for error in form.email.errors %}
                                            <span>{{error}}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                {{form.email(class="form-control", cols="30")}}
                                {% endif %}


                              </div>

                          </div>




                          <div class="col-md-3">

                              <div class="form_box mar">


                                  <input class="btn btn-primary" type=submit value="Forgot" class=sbmt>


                              </div>

                          </div>


                      </form>


                  </div>








              </div>
          </section>

          {% endblock %}