{% extends "layout2.html" %}


{% block info %}

<!-- <script>
  document.addEventListener("DOMContentLoaded", () => {    
      fetch("/data")
    .then(res => res.json())
    .then(data => {
        setInterval(
        fetct("url")
        .then(res => res.json())
        .then(ex_data => {
            let rate = ex_data['Realtime Currency Exchange Rate']['5. Exchange Rate']
            let amount_usd = rate * data.balance
            console.log(rate, amount_usd, document.querySelector("#usd_balance"));
            document.querySelector("#usd_balance").innerHTML = amount_usd.toFixed(2) //+ document.querySelector("#usd_balance").innerHTML;
        }),1000)
    });
})



</script> -->

<div class="admin_body_top">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <div class="current_balance">
                    <span><img src="{{url_for('static', filename='images/current_bal_icon.png')}}" alt="current_bal_icon"
                            class="img-responsive"></span>
                         
                    <h4>Current Balance <span style="position: relative"><sup></sup>{{balance}} <small>{{current_user.wallet.cryptocurrency.code}}</small>  </h4>

                   

                </div>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-6">
                <div class="account_info">
                    <ul>
                        <li><i class="ti-calendar"></i> {{date.strftime("%b %d, %Y")}}</li>
                        {% if current_user.last_seen %}
                        <li><i class="ti-time"></i> Last seen: {{current_user.last_seen.strftime("%b %d, %Y")}}</li>
                        {% else %}
                        <li><i class="ti-time"></i> Last seen: </li>

                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
         {% endblock %}
                       
                        
         {% block deposit %}

         {% endblock %}

                            {% block body %}

                           {% endblock %}
    