{% extends "layout.html" %}


{% block body %}

      <section class="inner_top_banner">
        <div class="container">
          <div class="row">
            <div class="col-md-12">

              <div class="inner_page_title">
                <h2>plans</h2>
                <ul class="breadcrumb">
                  <li><a href="{{ url_for('index') }}">Home</a></li>
                  <li>plans</li>
                </ul>
              </div>

            </div>
          </div>
        </div>
      </section>



      <section class="middle_body common">
        <div class="container">








          <p align=justify
            style="box-shadow: 0 0 0 5px rgba(255,255,255,0.6); border-radius: 10px; background: rgba(255,255,255,0.6);">



            <section class="middle_body">
              <div class="container">
                <div class="plan_section">


                  <script language="javascript">
                    <!--
                    function openCalculator(id) {

                      w = 225;
                      h = 400;
                      t = (screen.height - h - 30) / 2;
                      l = (screen.width - w - 30) / 2;
                      window.open('?a=calendar&type=' + id, 'calculator' + id, "top=" + t + ",left=" + l + ",width=" +
                        w + ",height=" + h + ",resizable=1,scrollbars=0");




                    }

                    function updateCompound() {
                      var id = 0;
                      var tt = document.spendform.h_id.type;
                      if (tt && tt.toLowerCase() == 'hidden') {
                        id = document.spendform.h_id.value;
                      } else {
                        for (i = 0; i < document.spendform.h_id.length; i++) {
                          if (document.spendform.h_id[i].checked) {
                            id = document.spendform.h_id[i].value;
                          }
                        }
                      }

                      var cpObj = document.getElementById('compound_percents');
                      if (cpObj) {
                        while (cpObj.options.length != 0) {
                          cpObj.options[0] = null;
                        }
                      }

                      if (cps[id] && cps[id].length > 0) {
                        document.getElementById('coumpond_block').style.display = '';

                        for (i in cps[id]) {
                          cpObj.options[cpObj.options.length] = new Option(cps[id][i]);
                        }
                      } else {
                        document.getElementById('coumpond_block').style.display = 'none';
                      }
                    }
                    var cps = {};
                    -->
                  </script>



                  <div class="row">
                    <div class="col-md-12">
                      <div class="main_title text-center">
                        <h2 class="blue_text">INVESTMENT PLANS & PRICING</h2>

                      </div>
                    </div>
                  </div>
                  <div class="row">

                      
                      {% with j = 1 %}
                    {% for i in range(plans|length) %}

                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="plan_box">
  
  
                          <h5>
  
  
                            {{plans[i].name}}
                          </h5>
  
  
  
                          <img src="{{ url_for('static', filename='images/plan_icon_' + (i+j)|string + '.png') }}" alt="plan_icon" class="img-responsive" />
                          <h4>{{plans[i].description}}</h4>
                          <ul>
                           
  
  
  
  
  
                            <!-- Profit (%)-->
  
  
                            <li>
                              <!--Plan 1-->
                              ${{plans[i].min_depositable}} - ${{plans[i].max_depositable}}
                              <span>{{plans[i].percentage_bonus}}%</span></li>
                            
  
  
                    
  
  
  
                          </ul>
  
  
  
  
  
  
  
                          <a class="btn btn-default" href="javascript:openCalculator('{{i+j}}')" data-toggle="modal" data-target="#myModal">Calculate</a>
  
  
                          <script>
                          </script>
  
  
                        </div>
                      </div>
                    {% endfor %}
                    {% endwith %}
                  


                  </div>
                </div>
                <div class="about_section">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="main_title text-center">

            </section>

            <div><a href="{{ url_for('verifyEmail') }}" target="">
                <font size="4">Open an account and start earning!</font>
              </a></div>


          </p>
        </div>

<!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
        <!-- <h4 class="modal-title">Modal Heading</h4> -->
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body">
        <div class="form-group">
          <label for="amount">Amount (USD)</label>
          <input id="amount" class="form-control" type="text" name="" value="">
        </div>
        <div class="form-group">
          <label for="percentage">Percentage</label>
          <select id="percentage" class="form-control" name="" style="color: #fff">
            {% for plan in plans %}
            <option value="{{plan.percentage_bonus}}">
              {{plan.name}} - {{plan.percentage_bonus}}
            </option>
            {% endfor %}
          </select>
        </div>

        <div class="form-group">
          <label>Profit (USD)</label>
          <div class="profit-value">

          </div>
        </div>
        <div class="form-group">
          <label>Total Earning (USD)</label>
          <div class="earning-value">

          </div>
        </div>
      </div>
      
      <!-- Modal footer
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div> -->
      <script>
        <!--
          $('#amount').on('change', function() {
            var profit = ((parseInt($('#percentage').val()) / 100) * parseInt($('#amount').val()));
            $('.profit-value').text(Math.floor(profit));
            $('.earning-value').text(profit + parseInt($('#amount').val()));
            // $('#percentage').val();
            // $('#amount').val();
          });

          $('#percentage').on('change', function() {
            var profit = ((parseInt($('#percentage').val()) / 100) * parseInt($('#amount').val()));
            $('.profit-value').text(Math.floor(profit));
            $('.earning-value').text(profit + parseInt($('#amount').val()));
            // $('#percentage').val();
            // $('#amount').val();
          });
        -->
      </script>
    </div>
  </div>
</div>
      </section>


      {% endblock %}